baseURL = '{{ baseURL }}/'
languageCode = 'en-us'
title = 'MoaiEdu'
theme = "ananke"
defaultContentLanguage = 'zh'

[params]
  subtitle = '引领Software 3.0潮流的AI原生、AI优先教育平台，致力于用人工智能重塑学习体验，赋能每一位学习者与教育者。'
  [params.contact]
    email = 'bryt.xin.li@gmail.com'
    phone = '+86 139-7518-5300'